/* Utilities */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary-red: #BD3A5A;
    --off-white: #F8FAFC;
    --secondary-blue: #005A8F;
    --tertiary-navy: #002439;
    --hover-red: #84283F;
}

.inner-container {
    max-width: 1310px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    background-color: #F1F5F9;
}

/* Typography */

h1 {
    color: var(--off-white);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
}

h2 {
    color: var(--black);
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
}

aside h2 {
    text-align: center;
}

p {
    color: var(--black);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

.hero-banner p{
    color: var(--off-white);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.5;
}

header ul li a{
    text-decoration: none;
    padding: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
}

/* Header */

header {
    background-color: var(--white);
    padding: .625rem 0;
}

header div.flex-container {
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    column-gap: 1.875rem;
}

header img {
    max-width: 6.1875rem;
}

.sign-in {
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--off-white);
    font-weight: 400;
    background-color: var(--primary-red);
    padding: .75rem 1rem;
}

/* Footer */

footer {
    background-color: var(--tertiary-navy);
}

footer div.inner-container {
    gap: 2.125rem;
    padding: 3.375rem 0;
    max-width: 70.875rem;
}

footer p,
footer cite {
    color: var(--off-white);
    font-size: 1rem;
    width: calc((100% / 2) - (2.125rem / 2));
    font-style: normal;
}

/* Main */

.hero-banner {
    background-color: var(--secondary-blue);
    margin-bottom: 5.0625rem;

    /* Bigger padding on the bottom to compensate overlapping paddings for the link */
    padding: 5.0625rem 0 5.8125rem 0;
}

.hero-banner .flex-container {
    align-items: center;
    column-gap: 2.125rem;
}

.hero-banner .flex-container>div {
    row-gap: 1.6875rem;
    flex: 1 1 25%;
}

.hero-banner .flex-container>p {
    flex: 1 2 75%;
}

.hero-banner h1 {
    /* Bigger margin on the bottom to compensate overlapping paddings for the link */
    margin-bottom: 2.4375rem;
}

.hero-banner a {
    text-decoration: none;
    color: var(--off-white);
    border: 1px solid var(--off-white);
    padding: .75rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.news-and-events section,
aside {
    background-color: var(--white);
}

.news-and-events {
    display: flex;
    flex-direction: column;
    row-gap: 3.375rem;
    flex: 3 1 70%;
}

.main-content {
    column-gap: 2.125rem;
}

.news-and-events section {
    padding: 1.6875rem;
}

.news-and-events section:first-of-type {
    padding: 0;
}

.upcoming-game-night>div{
    margin: 1.6875rem;
    column-gap: 2.125rem;
    align-items: center;
}

.upcoming-game-night a {
    flex: 1 3 40%;
    color: var(--primary-red);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    text-decoration-thickness: 2px;
}

.upcoming-game-night>div>div {
    flex: 3 1 60%;
}

.news-and-events section:nth-of-type(3) a {
    color: var(--primary-red);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration-thickness: 2px;
}

.main-content {
    margin-bottom: 5.0625rem;
}

aside {
    flex: 1 3 30%;
    flex-direction: column;
    align-items: center;
    row-gap: 3.375rem;
    padding: 1.6875rem;
    height: fit-content;
}

aside p {
    text-align: center;
}

aside img {
    width: 9.375rem;
    height: auto;
}

/* Hover and focus */

nav ul li a:hover,
nav ul li a:focus {
    text-decoration: underline 2px var(--primary-red);
}

.sign-in:hover,
.sign-in:focus {
    background-color: var(--hover-red);
}

.hero-banner a:hover,
.hero-banner a:focus {
    background-color: var(--off-white);
    color: var(--secondary-blue);
}

.upcoming-game-night a:hover,
.upcoming-game-night a:focus,
.news-and-events section:nth-of-type(3) a:hover,
.news-and-events section:nth-of-type(3) a:focus {
    color: var(--hover-red);
}