/* Utilities */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary-red: #BD3A5A;
    --off-white: #F8FAFC;
    --secondary-blue: #005A8F;
    --tertiary-navy: #002439;
    --hover-red: #84283F;
}

.inner-container {
    max-width: 1310px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* Typography */

h1 {
    color: var(--off-white);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
}

h2 {
    color: var(--black);
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
}

aside h2 {
    text-align: center;
}

p {
    color: var(--black);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

.hero-banner p{
    color: var(--off-white);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.5;
}

header ul li a{
    text-decoration: none;
    padding: 0;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
}

/* Header */

header {
    background-color: var(--white);
}

header div.flex-container {
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    column-gap: 1.875rem;
}

header img {
    max-width: 6.1875rem;
}

.sign-in {
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--off-white);
    font-weight: 400;
    background-color: var(--primary-red);
    padding: .75rem 1rem;
}

/* Footer */

footer {
    background-color: var(--tertiary-navy);
}

footer div.inner-container {
    gap: 2.125rem;
    padding: 3.375rem 0;
    max-width: 70.875rem;
}

footer p,
footer cite {
    color: var(--off-white);
    font-size: 1rem;
    width: calc((100% / 2) - (2.125rem / 2));
    font-style: normal;
}