/* Utilities */

:root {
    --white: #FFFFFF;
    --black: #000000;
    --primary-red: #BD3A5A;
    --off-white: #F8FAFC;
    --secondary-blue: #005A8F;
    --tertiary-navy: #002439;
    --hover-red: #84283F;
}

.inner-container {
    max-width: 1310px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* Typography */

h1 {
    color: var(--off-white);
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
}

h2 {
    color: var(--black);
    font-size: 2.25rem;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.5;
}

aside h2 {
    text-align: center;
}

p {
    color: var(--black);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
}

.hero-banner p{
    color: var(--off-white);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.5;
}